
section.login_body{
    background-color: rgb(231, 203, 231);
    text-align: center;
    padding: 50px;
    height: 100vh;
    background-image: url("../img/main-emoji.png");
    background-position: center;
}

div.login_card{
    margin-top: 30px !important;
    background-image: linear-gradient(to left, rgb(202, 34, 202), rgb(38, 38, 156));
    width: 50%;
    margin: auto;
    border-radius: 20px;
    border: 2px solid lightness($color: rgb(202, 34, 202));
    p.h3{
        color: #fff;
        padding-top: 30px;
        font-size: 42px;
        margin-bottom: 0% !important;
        font-weight: 550;
    }
}

@media screen and (max-width: 785px){
    section.login_body{
        padding: 30px;
        background-image: url("../img/main-emoji.png");
        background-position: left;
    }
    div.login_card{
        width: 100% !important;
    }
}