section.login_body {
  background-color: #e7cbe7;
  text-align: center;
  padding: 50px;
  height: 100vh;
  background-image: url("../img/main-emoji.png");
  background-position: center;
}

div.login_card {
  margin-top: 30px !important;
  background-image: -webkit-gradient(linear, right top, left top, from(#ca22ca), to(#26269c));
  background-image: linear-gradient(to left, #ca22ca, #26269c);
  width: 50%;
  margin: auto;
  border-radius: 20px;
  border: 2px solid 46.27451%;
}

div.login_card p.h3 {
  color: #fff;
  padding-top: 30px;
  font-size: 42px;
  margin-bottom: 0% !important;
  font-weight: 550;
}

@media screen and (max-width: 785px) {
  section.login_body {
    padding: 30px;
    background-image: url("../img/main-emoji.png");
    background-position: left;
  }
  div.login_card {
    width: 100% !important;
  }
}

section.register_body {
  background-color: #e7cbe7;
  text-align: center;
  padding: 50px;
  height: 100vh;
  background-image: url("../img/main-emoji.png");
  background-position: center;
}

div.register_card {
  margin-top: 25px !important;
  background-image: -webkit-gradient(linear, right top, left top, from(#ca22ca), to(#26269c));
  background-image: linear-gradient(to left, #ca22ca, #26269c);
  width: 50%;
  margin: auto;
  border-radius: 20px;
  border: 2px solid 46.27451%;
}

div.register_card p.h3 {
  color: #fff;
  padding-top: 30px;
  font-size: 42px;
  margin-bottom: 0% !important;
  font-weight: 550;
}

@media screen and (max-width: 785px) {
  section.register_body {
    padding: 30px;
    background-image: url("../img/main-emoji.png");
    background-position: left;
  }
  div.register_card {
    width: 100% !important;
  }
}

* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

form {
  text-align: center;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px;
}

form label.form-label,
form span.input-group-text {
  color: #fff !important;
  font-size: 18px;
  font-weight: 550;
}

form .input-group-text {
  border-radius: 10px 0px 10px 10px !important;
}

form .user_input,
form .password_input {
  border-radius: 0px 0px 10px 10px !important;
  height: 40px !important;
  background-color: transparent;
  color: #fff;
}

form .form-control {
  color: #fff;
}

form div.forgotten_password {
  margin-bottom: 30px;
}

form div.forgotten_password p.h6 {
  color: #fff;
}

form div.forgotten_password a {
  color: #fff;
  text-decoration: underline;
  font-weight: 550;
  margin-left: 5px;
}

form div.button_div {
  margin-top: 10px;
}

form button.btn {
  border-radius: 20px;
  color: #fff;
  font-size: 18px;
  font-weight: 550;
  background-image: -webkit-gradient(linear, right top, left top, from(#ca22ca), to(#26269c));
  background-image: linear-gradient(to left, #ca22ca, #26269c);
}

form button.btn:hover {
  color: #fff;
}

body.home_body {
  background-image: url("../img/main-emoji.png");
  background-position: contain;
  background-color: #e7cbe7;
}

div.header_card {
  background-image: -webkit-gradient(linear, right top, left top, from(#ca22ca), to(#26269c));
  background-image: linear-gradient(to left, #ca22ca, #26269c);
  padding: 20px;
  margin-top: 10px;
  border-radius: 20px 20px 20px 20px;
}

div.header_card div.header_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}

div.header_card div.date {
  color: #fff;
}

div.header_card div.date p.h5 {
  padding-top: 10px;
  font-weight: 650;
  font-size: 22px;
  margin-bottom: 0% !important;
}

div.header_card div.date span.week,
div.header_card div.date span.month_year {
  font-size: 18px;
}

div.header_card img {
  width: 50px;
}

main.home_body {
  margin-top: 50px;
}

div.main_card {
  background-image: -webkit-gradient(linear, right top, left top, from(#ca22ca), to(#26269c));
  background-image: linear-gradient(to left, #ca22ca, #26269c);
  padding: 20px;
  border-radius: 20px 20px 20px 20px;
}

div.main_card p.h2 {
  color: #fff;
  font-weight: 600;
}

hr.hr {
  color: #fff;
  height: 5px;
  border-radius: 20px;
  width: 20%;
}

div.thoughts {
  margin-top: 20px;
}

div.thoughts div.col-md-4 {
  margin-bottom: 40px;
}

div.thoughts div.col-md-4:last-child {
  margin-bottom: 0%;
}

div.thoughts div.thought {
  margin-bottom: 40px;
}

div.thoughts div.thought p.h3 {
  margin-bottom: 10px;
  color: #fff;
  font-weight: 550;
}

div.thoughts div.thought p.h5 {
  color: #fff;
}

div.thoughts div.thought_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div.thoughts span.thought_meta a {
  color: #fff;
  text-decoration: underline;
  margin-right: 5px;
}

div.thoughts span.thought_meta a:last-child {
  margin-right: 0%;
}

div.thoughts div.thought:last-child {
  margin-bottom: 0%;
}

nav.bottom_nav {
  margin-top: 50px;
  margin-bottom: 10px;
}

div.bottom_nav_card {
  background-image: -webkit-gradient(linear, right top, left top, from(#ca22ca), to(#26269c));
  background-image: linear-gradient(to left, #ca22ca, #26269c);
  padding: 20px;
  border-radius: 20px 20px 20px 20px;
}

div.bottom_nav_card ul.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div.bottom_nav_card a.nav-link {
  color: #fff;
  font-weight: 550;
  font-size: 18px;
}

@media screen and (max-width: 785px) {
  div.register_card p.h3,
  div.login_card p.h3 {
    font-size: 30px;
    padding-top: 40px;
  }
}
/*# sourceMappingURL=styles.css.map */